.guideImgPage {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 300px;
  height: 150px;
}
.text {
  font-size: 45px;
  height: 100px;
  width: 100%;

  letter-spacing: 15px;
  margin-top: 10px;
}
