.guideImgPage {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 100px;
  height: 100px;
}
