.loginImgPage {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 300px;
  height: 160px;
}

.btn {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  font-size: 30px;
  padding: 12px 30px;
  border-radius: 50px;
  margin: 55px;
  box-shadow: 1px 1px 8px 3px #1e1b1b41;
  
  
  //  右 下 上
}
